@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif, FontAwesome;
}

/* Color Palette */
body {
  background-color: #2C2C34;
  color: #D8D8F6;
  padding: 1em;
}
body .container, body .generated-images-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
body .container {
  min-width: 100%;
  padding: 1em 1em 0 1em !important;
}
body .container span, body .container p, body .container small {
  width: 100%;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
}
body .container .title {
  font-size: 28px;
  letter-spacing: 1px;
  padding-bottom: 0.5rem;
  border-bottom: 2px dashed;
}
body .container p {
  font-size: 16px;
  padding-top: 0.5rem;
}
body .container p small {
  font-size: 12px;
  color: #B18FCF;
}
body .container .input-group {
  width: 85%;
  border-radius: 5px;
  border: none !important;
}
body .container .input-group input, body .container .input-group button {
  border: 2px solid whitesmoke;
}
body .container .input-group input {
  font-size: 16px;
  text-transform: capitalize;
}
body .container .input-group input:disabled {
  opacity: 0.75;
}
body .container .input-group input::-moz-placeholder {
  font-size: 13px;
  text-transform: none;
}
body .container .input-group input::placeholder {
  font-size: 13px;
  text-transform: none;
}
body .container .input-group button {
  background-color: #B18FCF;
  color: #2C2C34;
}
body .container .input-group button:hover {
  background-color: #978897;
  color: whitesmoke;
}
body .container .alert {
  font-size: 11px;
  letter-spacing: 1px;
  color: #D8D8F6;
  padding: 0;
}
body .container .generated-images-list {
  gap: 10px;
}
body .container .generated-images-list span {
  font-size: 14px;
  font-weight: bold;
  border-bottom: 0;
  margin-top: 5px;
}
body .container .generated-images-list .images-list-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid whitesmoke;
}
body .container .generated-images-list .images-list-container:hover img {
  scale: 1.15;
}
body .container .generated-images-list .images-list-container img {
  width: 350px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  scale: 1;
  transition: scale 0.35s;
}

@media screen and (max-width: 768px) {
  .container span {
    font-size: 22px !important;
  }
  .container p {
    font-size: 12px !important;
  }
  .container p small {
    font-size: 10px !important;
  }
  .container .input-group input {
    font-size: 14px !important;
  }
  .container .input-group input::-moz-placeholder {
    font-size: 12px !important;
  }
  .container .input-group input::placeholder {
    font-size: 12px !important;
  }
  .container .input-group button {
    font-size: 12px !important;
  }
  .container .generated-images-list span {
    font-size: 11px !important;
  }
}/*# sourceMappingURL=styles.css.map */